
*{
    margin:0px;
}

.content{
    max-width:1065px;
    margin:0px auto;
}
.banner{
    height: 800px;
    background-image:url('/images/banner/banner1.png');
    display:flex;
    justify-content: flex-end;
    align-items: center;
    
}
.banner-content{
    margin-right:230px;
   
}
.banner h1{
    width:525px;
    font-size:65px;
    font-weight:bold;
    text-align:right;
    margin-bottom:24px;
}
.banner p{
    width:525px;
    text-align:right;
    color:#444343;
    font-size:16px; 
}

.banner .btn{
    float:right;
    margin-top:32px;
    background-color:#F15B22;
    color:#FFFFFF;
    border:none;
    padding:20px 25px;
    border-radius:5px;
    font-size:20px;
    font-weight:400;
  
}